<input type="text" (keyup)="search()" [(ngModel)]="searchString">
<a mat-icon-button routerLink="/consumer" routerLinkActive="is-active" >
  <mat-icon>person_add</mat-icon>
</a>

<table>
  <tr *ngFor="let consumer of consumers | async">
    <td>{{consumer.civility}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.email}}</td>
    <td>{{consumer.phone | phone}}</td>
    <td>
      <a mat-icon-button [routerLink]="['/consumer', consumer.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button (click)="delete(consumer)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </tr>
</table>
