<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p>
    <mat-form-field>
      <mat-label for="login">Login</mat-label>
      <input matInput type="text" id="login" name="login" formControlName="login">
    </mat-form-field>
    <crm-help [field]="loginForm.get('login')!" [errorMessages]="errorMessagesLogin"></crm-help>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput type="text" id="password" name="password" formControlName="password" >
    </mat-form-field>
    <crm-help [field]="loginForm.get('password')!" [errorMessages]="errorMessagesPassword"></crm-help>
  </p>
  <p>
    <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Validate</button>
  </p>
</form>
